@import "../css/normalize.css";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "roboto", sans-serif;
}

.red-b {
  border: 1px solid red;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner__item {
  font-size: 1rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 3s linear;
  visibility: hidden;
}
.spinner__item:nth-child(1) {
  border-top: 5px solid #ff79da;
}
.spinner__item:nth-child(2) {
  border-bottom: 5px solid #9356dc;
}
.spinner__text {
  color: #99e2d0;
  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    visibility: visible;
    opacity: 0.9;
  }
  33% {
    transform: rotate(120deg);
    opacity: 0.6;
  }
  66% {
    transform: rotate(240deg);
    opacity: 0.3;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
.hide {
  width: 100%;
  opacity: 0;
  animation: hide 3s 3s forwards;
}

@keyframes hide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header {
  width: 100%;
  height: 80px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "shrikhand";
  font-size: 2rem;
  position: relative;
}

.main {
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}
.main__wrapper {
  width: 100%;
  background: #f7f6f7;
}

.booking {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: #f7f6f7;
}
.booking--dark {
  background: #ebebea;
}

.map {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2.5rem 1rem 0;
  font-size: 1rem;
  font-weight: bold;
}
.map__text {
  padding-left: 1rem;
}

.search {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.search__heading {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
  padding-bottom: 1rem;
}
.search__text {
  color: #353434;
}
.search__button {
  width: 220px;
  padding: 1rem;
  margin: 2rem;
  border: none;
  color: #fff;
  border-radius: 100px;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  transition: all 200ms;
  cursor: pointer;
}
.search__button:hover {
  transform: scale(1.1);
  opacity: 0.9;
  box-shadow: 0px 1px 1px 1px #99e2d0;
}

.check {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.check__heading {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
}
.check__box-wrapper {
  width: 100%;
}
.check__box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem auto;
  position: relative;
  width: 75%;
  max-width: 700px;
  height: 80px;
  border-radius: 20px;
  background: #f7f6f7;
  box-shadow: 5px 5px 10px #ebebea;
}
.check__box:hover {
  transform: scale(1.1);
}
.check__order {
  display: inline-flex;
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #9356dc;
  justify-content: center;
  align-items: center;
  left: -13px;
  color: #fff;
}
.check__icon {
  margin: 0, 2rem;
  font-size: 1.2rem;
  opacity: 0.6;
}
.check__text {
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.restaurant {
  width: 100%;
  padding: 1rem;
  background: #f7f6f7;
}
.restaurant__heading {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
}

.cards {
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cards__item {
  width: 100%;
  margin-bottom: 1rem;
}

.card {
  width: 90%;
  height: 200px;
  margin: 0 auto;
  position: relative;
}
.card__link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: #000;
}
.card__image {
  width: 100%;
  object-fit: cover;
  border: 0px solid transparent;
  border-radius: 15px 15px 0 0;
  height: 65%;
}
.card__content {
  height: 35%;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 0 0 15px 15px;
  padding: 0.8rem;
  position: relative;
}
.card__content:hover .heart-icon {
  opacity: 1;
}
.card__heading {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
.card__text {
  font-size: 14px;
  line-height: 1.5;
}
.card__new-box {
  background-color: #99e2d0;
  position: absolute;
  width: 80px;
  padding: 0.3rem;
  right: 1rem;
  top: 1rem;
  border: 1px solid transparent;
  text-align: center;
  border-radius: 2px;
}
.card__new {
  color: #0a8d6d;
  font-size: 1em;
}

.heart-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.3rem;
}

.heart-icon-1 {
  color: transparent;
  background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 250ms ease-in-out;
}

.footer {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 2rem;
}
.footer__logo {
  font-family: "shrikhand";
  font-style: italic;
  font-size: 1.1rem;
  padding: 1rem 1rem 1rem 0;
}
.footer__content {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}
.footer__icon {
  width: 10px;
}

.submit-restaurant {
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 0;
}
.submit-restaurant__text {
  padding-left: 1rem;
}

.partnership {
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 0;
}
.partnership__text {
  padding-left: 1rem;
}

.legal {
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.contact {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 0.5rem 1rem 0;
}

.header-restaurant {
  display: flex;
  align-items: center;
}
.header-restaurant__logo {
  width: 95%;
  text-align: center;
}
.header-restaurant__arrow {
  color: #000;
  font-size: 1.2rem;
  width: 5%;
}

.banner {
  width: 100%;
  height: 250px;
}
.banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-menu {
  position: relative;
  min-width: 280px;
  width: 100%;
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f6f7;
  border-radius: 30px 30px 0 0;
  padding: 1rem;
  overflow: hidden;
}
.card-menu__restaurant {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "shrikhand";
  font-size: 1.5rem;
  padding: 1rem -1rem 1rem 0;
  margin-bottom: 1rem;
}
.card-menu__icons {
  position: relative;
}
.card-menu__icon {
  top: 50%;
  transform: translateY(-50%);
}
.card-menu__icon:hover {
  opacity: 1;
}
.card-menu__dishes {
  width: 100%;
}
.card-menu__text {
  animation: appear 600ms linear both;
}
.card-menu__text:nth-child(1) {
  animation-delay: 600ms;
}
.card-menu__text:nth-child(2) {
  animation-delay: 1200ms;
}
.card-menu__text:nth-child(3) {
  animation-delay: 1800ms;
}
.card-menu__text::after {
  content: "";
  width: 40px;
  height: 3px;
  background: #99e2d0;
  display: block;
}
.card-menu__recipe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 65px;
  background: #fff;
  border-radius: 15px;
  padding-left: 0.8rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
.card-menu__recipe-heading {
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 50%;
}
.card-menu__recipe-price {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-size: 0.8rem;
  margin-right: 1rem;
}
.card-menu__recipe-text {
  width: 50%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-menu__price {
  font-weight: bold;
}

@keyframes slide-down {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.recipe {
  position: relative;
  margin: 1rem auto;
  animation: slide-down 200ms ease-in-out both;
}
.recipe:nth-child(1) {
  animation-delay: 200ms;
}
.recipe:nth-child(2) {
  animation-delay: 400ms;
}
.recipe:nth-child(3) {
  animation-delay: 600ms;
}
.recipe:nth-child(4) {
  animation-delay: 800ms;
}
.recipe:nth-child(5) {
  animation-delay: 1000ms;
}
.recipe:nth-child(6) {
  animation-delay: 1200ms;
}
.recipe:nth-child(7) {
  animation-delay: 1400ms;
}
.recipe:nth-child(8) {
  animation-delay: 1600ms;
}
.recipe:nth-child(9) {
  animation-delay: 1800ms;
}
.recipe:hover .recipe__selected {
  margin-right: 0;
}
.recipe:hover .selected {
  animation: turn 500ms ease-in-out;
}
.recipe__wrapper {
  width: 100%;
}
.recipe__selected {
  height: 100%;
  display: grid;
  place-items: center;
  width: 60px;
  background: #99e2d0;
  border-radius: 0 15px 15px 0;
  margin-right: -82px;
  transition: margin-right 500ms ease-in-out;
}

.selected {
  color: white;
  font-size: 1.5rem;
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.add-cart {
  width: 220px;
  padding: 1rem;
  margin: 2rem;
  border: none;
  color: #fff;
  border-radius: 100px;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  transition: all 200ms;
  cursor: pointer;
}
.add-cart:hover {
  box-shadow: 0px 1px 1px 1px #99e2d0;
  opacity: 0.9;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 991px;
  }

  .main {
    width: 100%;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cards__item {
    width: 45%;
    margin: 1rem;
  }

  .card {
    width: 45%;
    max-width: 450px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 1200px;
  }

  .check__box-wrapper {
    display: flex;
    width: 100%;
  }
  .check__box {
    width: 30%;
    max-width: 280px;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
  }
  .cards__item {
    width: 30%;
    max-width: 350px;
    margin: 1rem;
  }

  .card {
    width: 100%;
    margin: 1rem;
  }

  .restaurant__heading {
    margin-left: 1rem;
  }

  .footer__content {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=styles.css.map */
