@mixin heading-section {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem; 
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin button {
  width: 220px;
  padding: 1rem;
  margin: 2rem;
  border: none;
  color: #fff;
  border-radius: 100px;
  background: linear-gradient(0deg, $color-primary 0%, $color-secondary 100%);
}

@mixin underline{
  width: 40px;
  height: 3px;
  background: $color-new;
  display: block;
}

@mixin text-overflow{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}