@import "../css/normalize.css";
@import "variables";
@import "mixins";

// reset

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "roboto", sans-serif;
  max-width: 1440px;
}

.red-b {
  border: 1px solid red;
}

.container {
  width: 100vw;
  @include flex-column;
  align-items: center;
  min-width: 320px;
}

.header {
  width: 100%;
  height: 60px;
  padding: 15px;
  text-align: center;
  font-family: "shrikhand";
  font-size: 2rem;
}


.main {
  width: 100%;
  @include flex-column;
  align-items: center;
  &__wrapper{
    width: 100%;
    background: $color-bg-light;
  }
  &__content{
    width: 320px;
    margin: 0 auto;
    position: relative;
  }
}


.booking {
  @include flex-column;
  width: 100%;
  align-items: center;
  background: $color-bg-light;

  &--dark {
    background: $color-bg-dark;
  }
  &__map,
  &__search {
    width: 320px;
  }
}

.map {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  position: relative;

  &__icon {
    position: absolute;
    left: 73px;
  }
}

.search {
  @include flex-column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  &__heading {
    @include heading-section;
    padding-bottom: 1rem;
  }
  &__text {
    color: #353434;
  }
  &__button {
   @include button;
}
}
.check-in {
  @include flex-column;
  padding: 1rem;
  &__heading {
    @include heading-section;
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem auto;
    margin: 1rem auto;
    position: relative;
    width: 280px;
    height: 80px;
    border-radius: 20px;
    background: $color-bg-light;
    box-shadow: 5px 5px 10px $color-bg-dark;
  }
  &__order {
    display: inline-flex;
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: $color-primary;
    justify-content: center;
    align-items: center;
    left: -13px;
    color: #fff;
  }
  &__icon {
    margin-right: 2rem;
    font-size: 1.2rem;
    opacity: 0.6;
  }
  &__text {
    font-weight: bold;
  }
}

.restaurant {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: $color-bg-light;
}

.cards {
  width: 320px;
  @include flex-column;
  margin: 0 auto;

  &__heading {
    @include heading-section;
    padding: 1rem;
  }
  &__item {
    width: 100%;
    margin-bottom: 1rem;

  }
}
.card {
  width: 300px;
  height: 200px;
  margin: 0 auto;
 

  &__link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    @include flex-column;
    color:#000;
  }
  &__image {
    width: 100%;
    object-fit: cover;
    border: 0px solid transparent;
    border-radius: 15px 15px 0 0;
    height: 65%;
  }
  &__content {
    height: 35%;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 0 0 15px 15px;
    padding: .8rem;
    position: relative;
  }
  &__heading {
    font-size: 1rem;
    padding-bottom: .5rem;
  }
  &__text{
    font-size:14px ;
    line-height: 1.5;
   
  }
  &__icon{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.3rem;
  }
}


.footer{
  width: 100%;
  background: #000;
  color: #fff;
  &__wrapper{
    width: 320px;
    margin: 0 auto;
    padding: 1rem 0;
  }
  &__box{
    width: 300px;
    margin: 0 auto;
  }
  &__logo{
    font-family:shrikhand;
    font-style: italic;
    font-size: 1.1rem;
    padding: 1rem 1rem 1rem 0;
  }
  &__content{
    @include flex-column;
    font-size: .9rem;
  }
 
}
.submit-restaurant{
  display: flex;
  padding: .5rem .5rem .5rem 0;
  &__text{
    padding-left: 1rem;
  }
}
.partnership{
  display: flex;
  padding: .5rem .5rem .5rem 0;
  &__text{
    padding-left: 1rem;
  }
}
.legal{
  padding: .5rem .5rem .5rem 0;
}
.contact{
  text-decoration: none;
  color: #fff;
  padding: .5rem .5rem 1rem 0;
}

// restaurant

.header-restaurant{
  display: flex;
  &__logo{
    width: 100%;
    text-align: center;
  }
  &__homepage{
    color: #000;
    font-size: 1.2rem;
    padding-left: 1.5rem;
  }
}
.banner{
  width: 100%;
  height: 250px;
  
}
.content{
  position: relative;
  height:1300px;
}
.card-menu{
  position: absolute;
  top:200px;
  background: $color-bg-light;
  right: 0;
  left: 0;
  border-radius: 50px 50px 0;
  padding: 1rem 1rem 1rem 1rem;
  &__restaurant{
    display: flex;
    justify-content: space-between;
    font-family: shrikhand;
    font-size: 1.5rem;
    padding: 1rem .5rem 1rem 0;
  }
  &__text{
    padding: 1rem .5rem 1rem 0;
  }

  &__text::after{
    content: '';
    @include underline;
  }
  &__recipe{
    width: 300px;
    height: 65px;
    background: #fff;
    border-radius: 15px;
    padding: 0.8rem;
    margin-bottom: 1rem;
  }
  &__recipe-heading{
    font-size: 1rem;
    font-weight: bold;
  }
  &__recipe-price{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    font-size: .8rem;
  }
  &__recipe-text{
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__price{
    font-weight: bold;
  }
}
.add-cart{
  @include button;
}
