@import "../css/normalize.css";
@import "variables";
@import "mixins";
@import 'keyframes';

// reset

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "roboto", sans-serif;
}

.red-b {
  border: 1px solid red;
}
.hide {
  width: 100%;
  opacity: 0;
  animation: hide 3s 3s forwards;
}

.container {
  //max-width: 767px;
  min-width: 320px;
  margin: 0 auto;
  @include flex-column;
  justify-content: center;
  align-items: center;
}

// spinner

.spinner {
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  @include flex-center;

  &__item {
    font-size: 1rem;
    width: 100px;
    height: 100px;

    border-radius: 50%;

    @include flex-center;
    animation: spin 3s linear;
    visibility: hidden;
  }
  &__item:nth-child(1) {
    border-top: 5px solid $color-secondary;
  }
  &__item:nth-child(2) {
    border-bottom: 5px solid $color-primary;
  }
  &__text {
    color: $color-new;
    position: absolute;
  }
}
//header

.header {
  width: 100%;
  height: 80px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "shrikhand";
  font-size: 2rem;
  //box-shadow: 0px 0px 1px 1px;
  position: relative;
}

//main



.main {
  width: 100%;
  min-width: 320px;
  @include flex-column;
  &__wrapper {
    width: 100%;
    background: $color-bg-light;
  }
}

.booking {
  @include flex-column;
  width: 100%;
  align-items: center;
  background: $color-bg-light;

  &--dark {
    background: $color-bg-dark;
  }
}

.map {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2.5rem 1rem 0;
  font-size: 1rem;
  font-weight: bold;

  &__text {
    padding-left: 1rem;
  }
}

.search {
  @include flex-column;
  width: 100%;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  &__heading {
    @include heading-section;
    padding-bottom: 1rem;
  }
  &__text {
    color: #353434;
  }
  &__button {
    @include button;
  }
  &__button:hover {
    transform: scale(1.1);
    opacity: 0.9;
    @include box-shadow;
  }
}
.check {
  width: 100%;
  @include flex-column;
  padding: 1rem;
  &__heading {
    @include heading-section;
  }
  &__box-wrapper {
    width: 100%;
  }
  &__box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem auto;
    position: relative;
    width: 75%;
    max-width: 700px;
    height: 80px;
    border-radius: 20px;
    background: $color-bg-light;
    box-shadow: 5px 5px 10px $color-bg-dark;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__order {
    display: inline-flex;
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: $color-primary;
    justify-content: center;
    align-items: center;
    left: -13px;
    color: #fff;
  }
  &__icon {
    margin: 0, 2rem;
    font-size: 1.2rem;
    opacity: 0.6;
  }
  &__text {
    font-weight: bold;
    @include text-overflow;
  }
}

.restaurant {
  width: 100%;
  padding: 1rem;
  background: $color-bg-light;
  &__heading {
    @include heading-section;
  }
}

.cards {
  width: 100%;
  min-width: 320px;
  @include flex-column;
  align-items: center;
  justify-content: center;

  &__item {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.card {
  width: 90%;
  //max-width: 700px;
  //min-width: 280px;
  height: 200px;
  margin: 0 auto;
  position: relative;

  &__link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    @include flex-column;
    color: #000;
  }
  &__image {
    width: 100%;
    object-fit: cover;
    border: 0px solid transparent;
    border-radius: 15px 15px 0 0;
    height: 65%;
  }
  &__content {
    height: 35%;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 0 0 15px 15px;
    padding: 0.8rem;
    position: relative;
    &:hover .heart-icon {
      opacity: 1;
    }
  }
  &__heading {
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }
  &__text {
    font-size: 14px;
    line-height: 1.5;
  }

  &__new-box {
    background-color: $color-new;
    position: absolute;
    width: 80px;
    padding: 0.3rem;
    right: 1rem;
    top: 1rem;
    border: 1px solid transparent;
    text-align: center;
    border-radius: 2px;
  }
  &__new {
    color: rgba(10, 141, 109, 255);
    font-size: 1em;
  }
}
.heart-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.3rem;
}

.heart-icon-1 {
  color: transparent;
  background-image: linear-gradient(
    0deg,
    $color-primary 0%,
    $color-secondary 100%
  );
  background-clip: text;
  -webkit-background-clip: text;

  opacity: 0;
  transition: all 250ms ease-in-out;
}

// footer

.footer {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 2rem;

  &__logo {
    font-family: "shrikhand";
    font-style: italic;
    font-size: 1.1rem;
    padding: 1rem 1rem 1rem 0;
  }
  &__content {
    @include flex-column;
    font-size: 0.9rem;
  }
  &__icon {
    width: 10px;
  }
}
.submit-restaurant {
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 0;
  &__text {
    padding-left: 1rem;
  }
}
.partnership {
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 0;
  &__text {
    padding-left: 1rem;
  }
}
.legal {
  padding: 0.5rem 0.5rem 0.5rem 0;
}
.contact {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 0.5rem 1rem 0;
}

// restaurant page

.header-restaurant {
  display: flex;
  align-items: center;

  &__logo {
    width: 95%;
    text-align: center;
  }
  &__arrow {
    color: #000;
    font-size: 1.2rem;
    width: 5%;
  }
}
.banner {
  width: 100%;
  height: 250px;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.card-menu {
  position: relative;
  min-width: 280px;
  width: 100%;
  margin-top: -30px;
  @include flex-column;
  align-items: center;
  background: $color-bg-light;
  border-radius: 30px 30px 0 0;
  padding: 1rem;
  overflow: hidden;

  &__restaurant {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "shrikhand";
    font-size: 1.5rem;
    padding: 1rem -1rem 1rem 0;
    margin-bottom: 1rem;
  }
  &__icons {
    position: relative;
  }
  &__icon {
    top: 50%;
    transform: translateY(-50%);
    &:hover {
      opacity: 1;
    }
  }
  &__dishes-wrapper{
  @include flex-column;
  width: 100%;
  }
  &__dishes {
    width: 100%;
  }
  &__text {
    animation: appear $animation-duration-dishes linear both;
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: $animation-duration-dishes * $i;
      }
    }
  }

  &__text::after {
    content: "";
    @include underline;
  }
  &__recipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    //max-width: 700px;
    //min-width: 320px;
    height: 65px;
    background: #fff;
    border-radius: 15px;
    padding-left: 0.8rem;
    margin-bottom: 1rem;
    overflow: hidden;
  }
  &__recipe-heading {
    font-size: 1rem;
    font-weight: bold;
    @include text-overflow;
    width: 50%;
  }
  &__recipe-price {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    font-size: 0.8rem;
    margin-right: 1rem;
  }
  &__recipe-text {
    width: 50%;
    @include text-overflow;
  }
  &__price {
    font-weight: bold;
  }
}



.recipe {
  position: relative;
  margin: 1rem auto;

  animation: slide-down $animation-duration-recipe ease-in-out both;
  @for $i from 1 through 9 {
    &:nth-child(#{$i}) {
      animation-delay: $animation-duration-recipe * $i;
    }
  }
  &:hover {
    .recipe__selected {
      margin-right: 0;
    }
    .selected {
      animation: turn 500ms ease-in-out;
    }
  }

  &__wrapper {
    width: 100%;
  }
  &__selected {
    height: 100%;
    display: grid;
    place-items: center;
    width: 60px;
    background: $color-new;
    border-radius: 0 15px 15px 0;
    margin-right: -82px;
    transition: margin-right 500ms ease-in-out;
  }
}

.selected {
  color: white;
  font-size: 1.5rem;
  //transform: rotate(0deg) ;
}


.add-cart {
  @include button;
  &:hover {
    @include box-shadow;
    opacity: 0.9;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 991px;
  }
  .main {
    width: 100%;
  }
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    &__item {
      width: 45%;
      margin: 1rem;
    }
  }
  .card {
    width: 45%;
    max-width: 450px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 1200px;
  }
  .check {
    &__box-wrapper {
      display: flex;
      width: 100%;
    }

    &__box {
      width: 30%;
      max-width: 280px;
    }
  }
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    &__item {
      width: 30%;
      max-width: 350px;
      margin: 1rem;
    }
  }
  .card {
    width: 100%;
    margin: 1rem;
  }
  .restaurant {
    &__heading {
      margin-left: 1rem;
    }
  }
  .card-menu{
    &__dishes-wrapper{
      flex-direction: row;
    }
  }

  .footer {
    &__content {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
