@use '../utils' as *;

.booking {
    @include flex-column;
    width: 100%;
    align-items: center;
    background: $color-bg-light;
    &--dark {
      background: $color-bg-dark;
    }
  }
  
  .map {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    &__text {
      padding-left: 1rem;
      background: $color-bg-dark;
      border: none;
    }
  }
  
  .search {
    @include flex-column;
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__heading {
      @include heading-section;
      padding-bottom: 1rem;
    }
    &__text {
      color: #353434;
    }
    &__button {
      @include button;
    }
    &__button:hover {
      transform: scale(1.1);
      opacity: 0.9;
      @include box-shadow;
    }
  }